.main-container{
  background-color: #f6f6fd;
}

// .desc {
// }

.desc-main{
  margin-left: 50px;
}

.desc__navbar {
  display: flex;
  flex-direction: column;
}

.desc__logo{
  width: 40px;
  margin-right: 69px;
  padding: 0;
}

.desc__currency {
  border: none;
  margin-bottom: 5px;
  margin-right: 44px;
  font-family: "OpenSans";
  font-size: 12px;
  font-weight: bold;
  color: #000000;
}

.desc-favorit{
  display: flex;
  margin-right: 200px;
  margin-top: 5px;
}

.desc-favorit__favorites { 
  width: 20px;
  height: 19px;
  background-image: url(./resources/icons/favorites-gray.svg);
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.desc-favorit__favorites:hover {
  width: 20px;
  height: 19px;
  background-image: url(./resources/icons/favorites-active.svg);
}

.desc-favorit__text { 
  font-family: "OpenSans";
  font-size: 12px;
  font-weight: bold;
  line-height: 1.75;
  text-align: left;
  color: #000000;
}

// second-navbar
.second-navbar{
  margin-left: 0px;
}

.form {
  display: flex !important;
}

.form-control {
  border: none;
}

.desc__search{
  fill: #9d9d9c;
}

.desc__input {
  width: 100px;
  margin-left: 0px;
  margin-right: 150px;
  font-family: "OpenSans";
  font-size: 12px;
  font-weight: 600;
  color: #9d9d9c;
}

.btn-outline-success {
  cursor: pointer;
  position: static;
  right: 0px;
  top: 0px;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #ff7b0000;
  border: none;
  box-shadow: 1px solid #444444 !important;
}

.second {
  font-family: "OpenSans";
  font-size: 15px;
  font-weight: 600;
  line-height: 1.4;
  text-align: left;
  color: #000000 !important;
}

// slaid
.desc__carousel {
  top: 150px;
  left: -25px;
}

.carousel-control-prev {
  left: 0;
  top: 550px;
  display: block;
}

.carousel-control-next {
  right: 900px;
  top: 550px;
  display: block;
}

.carousel-control-prev-icon {
  border: 1px solid  #fafafa;
  border-radius: 50px;
}

.carousel-control-next-icon {
  border: 1px solid  #fafafa;
  border-radius: 50px;
}

.desc-slaid__title { 
  width: 655px;
  height: 158px;
  font-family: "ProximaNova";
  font-size: 51.5px;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: 0.52px;
  text-align: left;
  color: white;
  margin-bottom: 34px;
}

.desc-slaid__slogan { 
  width: 655px;
  height: 158px;
  font-family: "OpenSans";
  font-size: 20px;
  letter-spacing: 0.2px;
  text-align: left;
  color: white;
  margin-bottom: 34px;
}

.desc-slaid__btn { 
  width: 174px;
  height: 48px;
  margin-right: 800px;
  position: relative;
  top: -70px;
  border-radius: 24px;
  background-image: linear-gradient(to top, #ef6e20, #ec910f);
}

.desc-slaid__link{
  text-decoration: none;
  font-family:"OpenSans";
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.75px;
  text-align: center;
  color: white;
}

.desc-slaid__link:hover {
  color: white;
}

.desc-slaid__btn:hover {
  background-image: linear-gradient(to top,#ec910f, #ef6e20);
  transition: all 0.5s ease;
}

.desc-up-item {
  position: absolute;
  top: 50px;
  left: 70px;
}

// Section baner
.baner { 
  padding-top: 200px;
  margin-left: -35px;
  margin-right: 15px;
}

.baner__img { 
  width: 250px;
  object-fit: cover;
}

.baner__text-block {
  background-color: white;
  padding-bottom: 42px;
  padding-right: 20px;
}

.baner__title { 
  font-family: "OpenSans";
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  text-align: left;
  color: #000000;
  margin: 49px -10px 71px 19px;
}

.baner__link { 
  text-decoration: none;
  color: #ef6e20;
  padding: 0px 0px 0px 19px;
}

.baner__link:hover {
  color: #ff6200;
  transition: all 0.5s ease;
}

.fa-chevron-right { 
  padding-left: 5px;
}

// block btn
.block-btn-radio {
  padding-top: 130px;
  margin-left: -35px;
  margin-right: 15px;
  padding-bottom: 196px;
}

.block-btn-radio__title {
  width: 627px;
  height: 89px;
  margin: auto;
  font-family: "ProximaNova";
  font-size: 43.5px;
  font-weight: 600;
  line-height: 1.15;
  text-align: center;
  color: #000000;
  margin-bottom: 65px;
}

.btn-group {
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.btn-outline-primary {
  color: #9d9d9c;
  border-color: #cccccc !important;
  margin-bottom: 84px;
  font-family: "OpenSans";
  font-size: 18px;
  font-weight: 600;
}

.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
  color: #fff;
  background-color: #ef6f20 !important;
  border-color: #ef6f20 !important;
  box-shadow: none;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #ef6f20 !important;
  border-color: #ef6f20 !important;
}

.btn-outline-primary:focus {
  color: #fff;
  background-color: #ef6f20 !important;
  border-color: #ef6f20 !important;
}

.tab__img { 
  object-fit: contain;
}

.tab__top {
  padding-top: 0px;
}

.tab__title { 
  font-family: "OpenSans";
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}

.tab__text {
  font-family: "OpenSans";
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  color: #9d9d9c;
}

.tab__price { 
  font-family: "OpenSans";
  font-size: 16px;
  font-weight: 600;
  color: #656565;
  margin: 5px 0 0 0;
}

.tab__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}

.tab__btn { 
  border-radius: 24px;
  color: #fff;
  border: 1px solid #ef6f20;
  background-image: linear-gradient(to top, #ef6e20, #ec910f);
}

.tab__btn:hover {
  color: #ef6f20;
  border: 1px solid #ef6f20;
  background-image: linear-gradient(to top, #fff, #fff);
}

.tab__btn:active {
  border: 1px solid #ef6f20;
  background-image: linear-gradient(to top, #fff, #fff);
}

// Footer
.footer__title {
  font-family: "ProximaNova";
  font-size: 21.5px;
  font-weight: bold;
  letter-spacing: 0.22px;
  color: #000000;
  padding-bottom: 30px;
}

.footer__link {
  text-decoration: none;
  font-family: "OpenSans";
  font-size: 16.5px;
  letter-spacing: 0.41px;
  color: #656565;
}

.footer__link:hover {
  color: #999999;
}

.footer__item {
  list-style-type: none;
  margin-left: -30px;
  padding-bottom: 30px;
}

.footer__list {
  display: flex;
  margin-left: -30px;
  margin-bottom: 75px;
}

.footer__icon-item {
  list-style-type: none;
}

.hr-line {
  background-color: #dddddd;
}

.footer__desc {
  font-family: "OpenSans";
  font-size: 11px;
  line-height: 2.77;
  letter-spacing: 0.28px;
  color: #9d9d9c;
  margin-top: 22px;
  margin-bottom: 132px;
}

@media screen and (max-width: 1200px) {
  .desc-favorit{
    margin-right: 150px;
  }
}

@media screen and (max-width: 989px) {
  .desc{
    display: none;
  }
}
