@font-face {
  font-family: "ProximaNova";
  font-style: bold;
  font-weight: 700;
  src: local("ProximaNova"), url("./resources/fonts/ProximaNova/ProximaNova-Bold.woff") format("woff"), url("./resources/fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  font-style: bold;
  font-weight: 700;
  src: local("OpenSans"), url("./resources/fonts/OpenSans/OpenSans-Bold.ttf") format("truetype"), url("./resources/fonts/OpenSans/OpenSans-Semibold.ttf") format("truetype");
}
.style {
  background-color: #ececec;
}

.mobi-navbar {
  width: 90%;
  position: absolute;
  top: 5px;
  z-index: 3;
}

.white {
  background-color: #00000000 !important;
}

.navbar-light .navbar-toggler {
  border: none;
  box-shadow: #00000000 !important;
  position: relative;
  left: -50px;
}

.navbar-toggler:focus {
  box-shadow: #00000000 !important;
}

.burger__line {
  width: 30px;
  height: 3px;
  background: white;
  margin: 3px;
  box-shadow: 1px 1px 1px #000;
}

.navbar-collapse {
  background-color: #fff;
  padding-left: 5px;
}

.nav-link {
  font-family: "OpenSans";
  font-size: 12px;
  font-weight: 600;
  line-height: 1.75;
  text-align: left;
  color: #9d9d9c !important;
}

.logo {
  width: 43px;
  height: 45px;
}

.currency {
  border: none;
  margin-bottom: 5px;
  font-family: "OpenSans";
  font-size: 12px;
  font-weight: bold;
  color: #000000;
}

.search-wrap {
  transform: translate(-50%, -50%);
  width: 0;
  height: 55px;
  transition: all 0.5s ease;
  position: relative;
}

.search-wrap .active {
  width: 100px;
  margin-left: -110px;
  transition: all 0.5s ease;
  color: white;
}

.search-input {
  width: 0;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.3s ease;
  position: absolute;
  right: -10px;
  top: 45px;
}

.search-input .active {
  width: 98%;
  padding-left: 5px;
  transition: all 0.5s 0.8s ease;
}

.search-input::placeholder {
  color: #ffffff;
  font-family: "OpenSans";
  font-size: 12px;
  font-weight: 600;
  line-height: 1.75;
  text-align: left;
  padding-left: 5px;
}

.search-btn {
  cursor: pointer;
  position: absolute;
  right: -30px;
  top: 46px;
  fill: #ffffff;
}

.btn-outline-success {
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 30px;
}

.btn-outline-success {
  border: none;
  box-shadow: none;
}
.btn-outline-success .search {
  fill: #9d9d9c;
}
.btn-outline-success:hover {
  color: #fff;
  background-color: #ff7b009f;
  border: none;
  box-shadow: #444444 !important;
}

.favorites {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.favorites__svg {
  fill: white;
}

.favorites__svg:hover {
  fill: rgba(255, 166, 0, 0);
}

.favorites:hover {
  width: 30px;
  height: 30px;
  background-image: url(./resources/icons/favorites-active.svg);
}

.img {
  width: 100%;
  min-height: 250px;
  z-index: 1;
}

.carousel-item__text {
  width: 300px;
  height: 74px;
  padding: 70px 0px 120px 0px;
  font-family: "ProximaNova";
  font-size: 20px;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: 0.24px;
  text-align: left;
  color: white;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev-icon {
  border: 1px solid #fafafa;
  border-radius: 50px;
}

.carousel-control-next-icon {
  border: 1px solid #fafafa;
  border-radius: 50px;
}

.tops {
  position: relative;
  top: -80px;
  margin-left: 0px;
}

.carousel-caption {
  left: 6%;
}

.box {
  width: 45%;
  height: 152px;
  border-radius: 10px;
  box-shadow: 0 0 29px 0 rgba(75, 75, 75, 0.36);
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  margin: 5px;
}
.box__link {
  background-color: white;
  text-decoration: none;
  fill: #9d9d9c;
  color: #9d9d9c;
}
.box__text {
  padding-top: 35px;
  font-family: "OpenSans";
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
}
.box__link:hover {
  fill: white;
  color: white;
  background-image: linear-gradient(to top, #ef6e20, #ec910f);
}
.box:hover {
  border-radius: 10px;
  box-shadow: 0 0 29px 0 rgba(75, 75, 75, 0.36);
  background-image: linear-gradient(to top, #ef6e20, #ec910f);
}

.slogan {
  width: 257px;
  height: 39px;
  margin: 0 auto;
  margin-bottom: 22px;
  font-family: "ProximaNova";
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
  text-align: center;
  color: #000000;
}

.btn-popular {
  width: 143px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 39px;
  padding: 3px 32px 7px 30px;
  border-radius: 14.5px;
  border: solid 2px #9d9d9d;
  font-family: "OpenSans";
  font-size: 13px;
  text-align: center;
  font-weight: 600;
  color: #9d9d9d;
}

.btn-popular:hover {
  color: white;
  background-image: linear-gradient(to top, #ef6e20, #ec910f);
}

.size-box {
  width: 100%;
  height: 100%;
  background-color: white !important;
}
.size-box__links {
  text-decoration: none;
  cursor: pointer;
}
.size-box__favorites {
  width: 30px;
  height: 30px;
  padding-left: 180%;
  background-image: url(./resources/icons/favorites-gray.svg);
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
.size-box__favorites:hover {
  width: 30px;
  height: 30px;
  background-image: url(./resources/icons/favorites-active.svg);
}
.size-box__img {
  width: 112px;
  height: 140px;
  object-position: center;
}
.size-box__title {
  font-family: "OpenSans";
  font-size: 13px;
  padding-top: 9px;
  color: #000000;
}
.size-box__price {
  font-family: "OpenSans";
  font-size: 14.5px;
  color: #656565;
}
.size-box__sub-price {
  font-size: 12px;
}

.footer {
  background-color: #141e25;
  margin-top: 38px;
}

.footer__text {
  font-family: "ProximaNova";
  font-size: 16px;
  font-weight: bold;
  line-height: 1.31;
  letter-spacing: 0.4px;
  text-align: left;
  color: #9d9d9d;
}

.footer__tel {
  font-family: "ProximaNova";
  font-size: 18px;
  font-weight: 600;
  line-height: 1.11;
  letter-spacing: 1.8px;
  text-align: left;
  color: white !important;
  text-decoration: none;
}

.fab {
  font-size: 20px;
  color: #ef6e20;
  padding-left: 30px;
}

.fa-twitter {
  font-size: 20px;
  color: #ef6e20;
  padding-left: 0px;
}

.fab:hover {
  color: #49ef20;
  cursor: pointer;
}

.footer__slogan {
  padding-top: 49px;
  font-family: "OpenSans";
  font-size: 11px;
  text-align: left;
  color: #4c4c4c;
}

.footer__sub-slogan {
  margin-top: -10px;
  font-family: "OpenSans";
  font-size: 11px;
  text-align: left;
  color: #4c4c4c;
}

@media screen and (min-width: 570px) {
  .mobi-navbar {
    width: 70%;
  }

  .favorites {
    margin-right: 50px;
  }

  .search-wrap {
    position: relative;
    left: 50px;
  }
}
@media screen and (min-width: 765px) {
  .mobi-navbar {
    width: 72%;
  }

  .search-wrap {
    position: relative;
    left: 50px;
  }

  .favorites {
    margin-right: 0px;
  }
}
@media screen and (min-width: 990px) {
  .mobi {
    display: none;
  }
}
.main-container {
  background-color: #f6f6fd;
}

.desc-main {
  margin-left: 50px;
}

.desc__navbar {
  display: flex;
  flex-direction: column;
}

.desc__logo {
  width: 40px;
  margin-right: 69px;
  padding: 0;
}

.desc__currency {
  border: none;
  margin-bottom: 5px;
  margin-right: 44px;
  font-family: "OpenSans";
  font-size: 12px;
  font-weight: bold;
  color: #000000;
}

.desc-favorit {
  display: flex;
  margin-right: 200px;
  margin-top: 5px;
}

.desc-favorit__favorites {
  width: 20px;
  height: 19px;
  background-image: url(./resources/icons/favorites-gray.svg);
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.desc-favorit__favorites:hover {
  width: 20px;
  height: 19px;
  background-image: url(./resources/icons/favorites-active.svg);
}

.desc-favorit__text {
  font-family: "OpenSans";
  font-size: 12px;
  font-weight: bold;
  line-height: 1.75;
  text-align: left;
  color: #000000;
}

.second-navbar {
  margin-left: 0px;
}

.form {
  display: flex !important;
}

.form-control {
  border: none;
}

.desc__search {
  fill: #9d9d9c;
}

.desc__input {
  width: 100px;
  margin-left: 0px;
  margin-right: 150px;
  font-family: "OpenSans";
  font-size: 12px;
  font-weight: 600;
  color: #9d9d9c;
}

.btn-outline-success {
  cursor: pointer;
  position: static;
  right: 0px;
  top: 0px;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #ff7b0000;
  border: none;
  box-shadow: 1px solid #444444 !important;
}

.second {
  font-family: "OpenSans";
  font-size: 15px;
  font-weight: 600;
  line-height: 1.4;
  text-align: left;
  color: #000000 !important;
}

.desc__carousel {
  top: 150px;
  left: -25px;
}

.carousel-control-prev {
  left: 0;
  top: 550px;
  display: block;
}

.carousel-control-next {
  right: 900px;
  top: 550px;
  display: block;
}

.carousel-control-prev-icon {
  border: 1px solid #fafafa;
  border-radius: 50px;
}

.carousel-control-next-icon {
  border: 1px solid #fafafa;
  border-radius: 50px;
}

.desc-slaid__title {
  width: 655px;
  height: 158px;
  font-family: "ProximaNova";
  font-size: 51.5px;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: 0.52px;
  text-align: left;
  color: white;
  margin-bottom: 34px;
}

.desc-slaid__slogan {
  width: 655px;
  height: 158px;
  font-family: "OpenSans";
  font-size: 20px;
  letter-spacing: 0.2px;
  text-align: left;
  color: white;
  margin-bottom: 34px;
}

.desc-slaid__btn {
  width: 174px;
  height: 48px;
  margin-right: 800px;
  position: relative;
  top: -70px;
  border-radius: 24px;
  background-image: linear-gradient(to top, #ef6e20, #ec910f);
  font-family: "OpenSans";
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.75px;
  text-align: center;
  color: white;
}

.desc-slaid__btn:hover {
  background-image: linear-gradient(to top, #ec910f, #ef6e20);
  transition: all 0.5s ease;
}

.desc-up-item {
  position: absolute;
  top: 50px;
  left: 70px;
}

.baner {
  padding-top: 200px;
  margin-left: -35px;
  margin-right: 15px;
}

.baner__img {
  width: 250px;
  object-fit: cover;
}

.baner__text-block {
  background-color: white;
  padding-bottom: 42px;
  padding-right: 20px;
}

.baner__title {
  font-family: "OpenSans";
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  text-align: left;
  color: #000000;
  margin: 49px -10px 71px 19px;
}

.baner__link {
  text-decoration: none;
  color: #ef6e20;
  padding: 0px 0px 0px 19px;
}

.baner__link:hover {
  color: #ef6e20;
  transition: all 0.5s ease;
}

.fa-chevron-right {
  padding-left: 5px;
}

.block-btn-radio {
  padding-top: 130px;
  margin-left: -35px;
  margin-right: 15px;
  padding-bottom: 196px;
}

.block-btn-radio__title {
  width: 627px;
  height: 89px;
  margin: auto;
  font-family: "ProximaNova";
  font-size: 43.5px;
  font-weight: 600;
  line-height: 1.15;
  text-align: center;
  color: #000000;
  margin-bottom: 65px;
}

.btn-group {
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.btn-outline-primary {
  color: #9d9d9c;
  border-color: #cccccc !important;
  margin-bottom: 84px;
  font-family: "OpenSans";
  font-size: 18px;
  font-weight: 600;
}

.btn-check:active + .btn-outline-primary, .btn-check:checked + .btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
  color: #fff;
  background-color: #ef6f20 !important;
  border-color: #ef6f20 !important;
  box-shadow: none;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #ef6f20 !important;
  border-color: #ef6f20 !important;
}

.btn-outline-primary:focus {
  color: #fff;
  background-color: #ef6f20 !important;
  border-color: #ef6f20 !important;
}

.tab__img {
  object-fit: contain;
}

.tab__top {
  padding-top: 18px;
}

.tab__title {
  font-family: "OpenSans";
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}

.tab__text {
  font-family: "OpenSans";
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  color: #9d9d9c;
}

.tab__price {
  font-family: "OpenSans";
  font-size: 16px;
  font-weight: 600;
  color: #656565;
  margin: 5px 0 0 0;
}

.tab__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}

.tab__btn {
  border-radius: 24px;
  color: #fff;
  border: 1px solid #ef6f20;
  background-image: linear-gradient(to top, #ef6e20, #ec910f);
}

.tab__btn:hover {
  color: #ef6f20;
  border: 1px solid #ef6f20;
  background-image: linear-gradient(to top, #fff, #fff);
}

.tab__btn:active {
  border: 1px solid #ef6f20;
  background-image: linear-gradient(to top, #fff, #fff);
}

@media screen and (max-width: 1200px) {
  .desc-favorit {
    margin-right: 150px;
  }
}
@media screen and (max-width: 989px) {
  .desc {
    display: none;
  }
}